* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%;
  vertical-align: middle; }

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent; }

ul,
ol {
  list-style-type: none; }

a {
  text-decoration: none; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.justify-content-flex-start {
  justify-content: flex-start; }

.justify-content-flex-end {
  justify-content: flex-end; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-around {
  justify-content: space-around; }

.justify-content-space-evenly {
  justify-content: space-evenly; }

.d-flex {
  display: flex; }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-grid {
  display: grid; }

.d-block {
  display: block; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #050738; }

#user header {
  padding-block: 1.9rem;
  box-shadow: 0 0 10px 1px #6e6767;
  padding-inline: 7rem; }
  #user header * {
    color: #fff; }
  #user header div:last-child svg {
    font-size: 35px; }
  #user header div:last-child a {
    margin-left: 30px; }
  #user header .logo a {
    font-size: 35px;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent; }
  #user header .menu {
    gap: 40px; }
  #user header .loginbtn {
    background-color: #fff;
    color: darkblue;
    padding: 10px 30px; }
#user .search-modal {
  position: fixed;
  inset: 0;
  bottom: 100vh;
  top: -100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  background-color: #141460; }
  #user .search-modal input {
    width: 40%;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    color: #000; }
  #user .search-modal .close {
    position: absolute;
    top: 100px;
    right: 150px; }
#user .active {
  inset: 0; }

#admin {
  color: #fff; }
  #admin a {
    color: #fff; }
  #admin #createmovie form {
    width: 350px;
    margin-inline: auto; }
    #admin #createmovie form * {
      width: 100%;
      display: block;
      margin-bottom: 15px; }
    #admin #createmovie form input {
      padding: 10px;
      font-size: 18px; }
    #admin #createmovie form textarea {
      height: 150px; }
    #admin #createmovie form button {
      padding: 10px 30px;
      background-color: #fff; }
